{% extends 'base.html' %}
{% load humanize %}
{% block content %}

    <br><br><br><br>
    <div class="container">
       <div class="card mb-3" >
            <div class="row g-0">
                <!-- gallery-->
                <div class="col-md-5">
                    <!--Main Media-->
                    <div id="main-media" style="width:100%;height:400px; display:flex; align-items:center; justify-content:center; overflow:hidden;">
                    {% if featured_media %}
                        {% if featured_media.media_type == 'image' %}
                            <img src="{{ featured_media.file.url }}" class="img-fluid"  style="width:100%%; height:100%; object-fit:contain; " alt="{{ product.name}}">
                        {% endif %}
                    {% else %}
                        <img src="{{ product.picture.url }}" class="img-fluid "  style="width:100%%; height:100%; object-fit:contain; " alt="{{ product.name}}">
                    {% endif %}
                    </div>
                    <!--Thumbnail-->
                    {% if media_list %}
                        <div id="media-thumbnail" style="display:flex; gap: 10px; flex-wrap:wrap; margin-top:15px;">
                            {% for media in media_list %}
                                <div class="media-thumbnail" data-url="{{ media.file.url }}" data-type="{{ media.media_type }}" style="width:80px;height:80px;cursor:pointer; border:1px solid #add; border-radius:6px; overflow:hidden; display:flex; align-items:center; justify-content:center;">
                                    {% if media.media_type == 'image' %}
                                        <img src="{{ media.file.url }}"  style="width:100%%; height:100%; object-fit:cover; " alt="{{ product.name}}">
                                    {% elif media.media_type == 'video' %}
                                        <video src="{{ media.file.url }}" muted style="width:100%; height:100%; object-fit:cover;"></video>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    {% if product.is_sale %}
                    <p class="card-text">💰قیمت: <strike>{{ product.price |intcomma }}</strike> - {{ product.sale_price |intcomma  }}تومان</p>
                    {% else %}
                    <p class="card-text">💰قیمت: {{ product.price |intcomma }}تومان</p>
                    {% endif %}

                    {% if product.inventory.available_quantity <= 0 %}
                        <span class="text-danger fw-bold">ناموجود</span>
                        <button class="btn btn-secondary" disabled>نا موجود</button>
                    {% else %}
                        <p class="text-success fw-bold">
                            موجودی: {{item.inventory.available_quantity }}
                        </p>
                        تعداد:
                        <select class="form-select" id="cart-qty">
                            {% for i in "123456789" %}
                                {% if forloop.counter <= product.inventory.available_quantity %}
                                    <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                                {%endif%}
                            {%endfor%}
                        </select>
                        <br><br>
                        <button class="btn btn-secondary" id="add-cart" value='{{ product.id }}'>اضافه به سبد خرید</button>
                    {%endif%}




<!--                    تعداد:-->
<!--                    <select class="form-select" id="cart-qty">-->
<!--                        <option value="1">1</option>-->
<!--                        <option value="2">2</option>-->
<!--                        <option value="3">3</option>-->
<!--                        <option value="4">4</option>-->
<!--                    </select>-->

<!--                    <br><br>-->
<!--                    <button class="btn btn-secondary" id="add-cart" value='{{ product.id }}'>اضافه به سبد خرید</button>-->
                    <a href="{% url 'home' %}" class="btn btn-secondary">بازگشت به صفحه اصلی</a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
    <script>
    $(document).on('click','.media-thumbnail',function(){
        const url = $(this).data('url');
        const type = $(this).data('type');
        const mainMedia = $('#main-media');
        mainMedia.empty();
        if(type === 'image'){
            mainMedia.html(`
                <img src="${url}" alt="{{ product.name }}" class="img-fluid" style=" width:100%;height:100%; object-fit:contain;">
                `);
            }
        else if (type === 'video'){
            mainMedia.html(`
                <video src="${url}" controls autoplay style="width:100%; height:100%; object-fit:contain;"></video>
                `);
            }
    });

    $(document).on('click','#add-cart',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:"{% url 'cart_add' %}",
            data:{
                product_id:$('#add-cart').val(),
                product_qty:$('#cart-qty option:selected').text(),
                csrfmiddlewaretoken:'{{ csrf_token }}',
                action:'post'
                },
            success:function(json){
                    //console.log(json);  
                    document.getElementById('cart-quantity').textContent = json.qty 
                    location.reload();
            },
            error:function(xhr, errmsg, err){
                if (xhr.responseJSON && xhr.responseJSON.error) {
                    alert(xhr.responseJSON.error);
                }

            }
            
        })
    })
    </script>
{% endblock %}