{% extends "admin/change_form.html" %}

{% block after_related_objects %}

    {{ block.super }}

    <div style="margin-top: 30px;">
        <h2>افزودن گروهی مدیا</h2>

        <input
            type="file"
            id="product-media-upload"
            multiple
            accept="image/*,video/*"
        >

        <div
            id="product-media-preview"
            style="
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                margin-top: 20px;
            "
        >
        </div>

        <button
            type="button"
            id="upload-product-media"
            style="margin-top: 20px;"
        >
            آپلود
        </button>
    </div>

{% endblock %}